@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: stretch;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

.bar {
    background-color: rgb(255, 203, 164);
    height: 100vh;
    width: 15vw;
}

.left-content {
    height: 100vh;
    width: 30vw;
}

.right-content {
    height: 100vh;
    width: 40vw;
}

.right-content-top {
    background-color: rgb(253, 245, 230);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    height: 25vh;
}

.right-content-form {
    height: 50vh;
}

.right-content-submit {
    background-color: rgb(253, 245, 230);
    height: 25vh;
}